services:
  postgres:
    image: postgres:15
    container_name: postgres_server_gym
    environment:
      POSTGRES_PASSWORD: rootpass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - backend

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_client_gym
    environment:
      PGADMIN_DEFAULT_EMAIL: randemail@gmail.com
      PGADMIN_DEFAULT_PASSWORD: randpass1
    ports:
      - "8080:80"
    depends_on:
      - postgres
    networks:
      - backend

  mongo:
    image: mongo:7
    container_name: mongo_db_gymapp
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password111
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - backend

  mongo-express:
    image: mongo-express
    container_name: mongo_express_gymapp
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: password111
      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    ports:
      - "8084:8081"
    depends_on:
      - mongo
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  postgres_data:
  mongo_data: